<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit menu list</title>
    <script type="text/javascript" src="../js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
    <header class="header-root">
      <div class="logoArea">
        <h2 class="headerTxt">truYum</h2>
        <img src="../images/truYum.png" class="logo" alt="truyum" />
      </div>
      <div class="menuArea">
        <a href="./components/menu-item-list-admin.html" id="adminMenu">Menu</a>
      </div>
    </header>
    <div class="adminPannel">
        <h2 class="title">Edit Menu Items Status</h2>
	<div class="page-content1">
        <div class="sucess-message1">Menu Item details saved successully.</div>
    </div>
    <footer class="truFooter">
        <h1 class="copyright">Copyright © 2021</h1>
      </footer>
  </body>
</html>
