<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Menu List</title>
    <script type="text/javascript" src="../js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
    <header class="header-root">
      <div class="logoArea">
        <h2 class="headerTxt">truYum</h2>
        <img src="../images/truYum.png" class="logo" alt="truyum" />
      </div>
      <div class="menuArea">
        <a href="menu-item-list-admin.html" id="adminMenu">Menu</a>
      </div>
    </header>
    <div class="adminPannel">
      <h2 class="title">Menu Items</h2>
      <div class="adminTable">
        <table id="adminTable">
          <tr>
            <th colspan="3">Name</th>
            <th>Price</th>
            <th>Active</th>
            <th>Date of Launch</th>
            <th>Category</th>
            <th>Free Delivery</th>
            <th>Action</th>
          </tr>
          <tr>
            <td colspan="3">Sandwitch</td>
            <td>Rs. 99.00</td>
            <td>Yes</td>
            <td>15/03/2017</td>
            <td>Main Course</td>
            <td>Yes</td>
            <td><a href="edit-menu-item.html">Edit</a></td>
          </tr>
          <tr>
            <td colspan="3">Burger</td>
            <td>Rs. 129.00</td>
            <td>Yes</td>
            <td>23/12/2017</td>
            <td>Main Course</td>
            <td>No</td>
            <td><a href="edit-menu-item.html">Edit</a></td>
          </tr>
          <tr>
            <td colspan="3">Pizza</td>
            <td>Rs. 149.00</td>
            <td>Yes</td>
            <td>21/08/2017</td>
            <td>Main Course</td>
            <td>No</td>
            <td><a href="edit-menu-item.html">Edit</a></td>
          </tr>
          <tr>
            <td colspan="3">French Fries</td>
            <td>Rs. 57.00</td>
            <td>No</td>
            <td>02/07/2017</td>
            <td>Staters</td>
            <td>Yes</td>
            <td><a href="edit-menu-item.html">Edit</a></td>
          </tr>
          <tr>
            <td colspan="3">Chocolate Brownie</td>
            <td>Rs. 32.00</td>
            <td>Yes</td>
            <td>02/11/2017</td>
            <td>Dessert</td>
            <td>Yes</td>
            <td><a href="edit-menu-item.html">Edit</a></td>
          </tr>
        </table>
      </div>
    </div>
    <footer class="truFooter">
      <h1 class="copyright">Copyright © 2021</h1>
    </footer>
  </body>
</html>
