<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Menu List</title>
    <script type="text/javascript" src="../js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
    <header class="header-root">
      <div class="logoArea">
        <h2 class="headerTxt">truYum</h2>
        <img src="../images/truYum.png" class="logo" alt="truyum" />
      </div>
      <div class="menuArea">
        <a href="./components/menu-item-list-admin.html" id="adminMenu">Menu</a>
        <a href="cart.html" id="adminMenu">Cart</a>
      </div>
    </header>
    <div class="adminPannel">
      <h2 class="title">Menu Items</h2>
      <table class="body-content-colour">
        <tr>
          <th>Name</th>
          <th>Free Delivery</th>
          <th class="currency">Price</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
       
        <tr>
          <td>Sandwich</td>
          <td>Yes</td>
          <td class="currency">Rs.99.00</td>
          <td>Main Course</td>
          <td><a href="menu-item-list-customer-notification.html">Add to cart</td>
        </tr>
       
        <tr>
          <td>Burger</td>
          <td>No</td>
          <td class="currency">Rs.129.00</td>
          <td>Main Course</td>
          <td><a href="menu-item-list-customer-notification.html">Add to cart</td>
        </tr>
       
        <tr>
          <td>Pizza</td>
          <td>No</td>
          <td class="currency">Rs.149.00</td>
          <td>Main Course</td>
          <td><a href="menu-item-list-customer-notification.html">Add to cart</td>
        </tr>	
       
       </table>
    </div>
    <footer class="truFooter">
      <h1 class="copyright">Copyright © 2021</h1>
    </footer>
  </body>
</html>
